workflow.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        64,
        -464
      ],
      "id": "1c7b7cb6-a95e-47b6-8f76-6759d68fdde3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://15.229.63.74",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        -464
      ],
      "id": "b13a5a6f-f212-472a-bdab-f1a489fc99ae",
      "name": "HTTP Request",
      "executeOnce": false,
      "retryOnFail": false,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "notesInFlow": false,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1a679c9f-8988-458e-ac93-dafa41b4401c",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        -80
      ],
      "id": "8c1f4a9a-14ea-498b-ac36-19b5d0cfc468",
      "name": "If",
      "executeOnce": false,
      "retryOnFail": false,
      "maxTries": 2,
      "waitBetweenTries": 5
    },
    {
      "parameters": {
        "sendTo": "woudsonpassos@gmail.com",
        "subject": "Server Status",
        "emailType": "text",
        "message": "=Server Online!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        736,
        -192
      ],
      "id": "2a84f194-6233-41b4-9bb8-79658c5ee4e0",
      "name": "Send a message",
      "webhookId": "9ca388df-a1be-42d2-b0f1-232f6602da5a",
      "credentials": {
        "gmailOAuth2": {
          "id": "nezm5hRstXAXRpuK",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "woudsonpassos@gmail.com",
        "subject": "Server Status",
        "emailType": "text",
        "message": "Server Offline, please verify your AWS Instance",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        736,
        0
      ],
      "id": "275cf06e-0d33-4b1d-aebc-d5a11cdbd88c",
      "name": "Send a message1",
      "webhookId": "620e9825-6f63-4c5f-a14c-3730ef4a4e44",
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "nezm5hRstXAXRpuK",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "28e43df4-3a78-4a7a-bb6c-01fabbc0f21f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7b1ebdca0069f2e4f81f2142b5eb5b226dea6a268e9a5099de346a53d11d72fb"
  },
  "id": "WMkuPt4IUuyYt9ic",
  "tags": []
}