workflow.json
{
  "name": "WebServerMonitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        80,
        -464
      ],
      "id": "1c7b7cb6-a95e-47b6-8f76-6759d68fdde3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://15.229.63.74",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        -464
      ],
      "id": "b13a5a6f-f212-472a-bdab-f1a489fc99ae",
      "name": "HTTP Request",
      "executeOnce": false,
      "retryOnFail": false,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "notesInFlow": false,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1a679c9f-8988-458e-ac93-dafa41b4401c",
              "leftValue": "={{ $json.mudou_estado }}",
              "rightValue": "200",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        736,
        -464
      ],
      "id": "8c1f4a9a-14ea-498b-ac36-19b5d0cfc468",
      "name": "If",
      "executeOnce": false,
      "retryOnFail": false,
      "maxTries": 2,
      "waitBetweenTries": 5
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 1. Memória global\nconst staticData = $getWorkflowStaticData('global');\n\n// 2. Dados atuais\nconst url = $json.url;\nconst agora = new Date();\n\n// 3. Formatar data\nconst dataHoraFormatada =\n  agora.toLocaleDateString('pt-PT') + ' ' +\n  agora.toLocaleTimeString('pt-PT', { hour: '2-digit', minute: '2-digit' });\n\n// 4. Estado atual\nconst estadoAtual = ($json.statusCode === 200) ? \"online\" : \"offline\";\n\n// 5. Estado anterior (por URL)\nconst estadoAnterior = staticData[url] || \"unknown\";\n\n// 6. Comparação\nconst mudouEstado = estadoAnterior !== estadoAtual;\n\n// 7. Retorno CORRETO\nreturn {\n  json: {\n    url: url,\n    data_hora: dataHoraFormatada,\n    timestamp_iso: agora.toISOString(),\n    estado_anterior: estadoAnterior,\n    estado_atual: estadoAtual,\n    mudou_estado: mudouEstado\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -464
      ],
      "id": "d2cfd9d8-b1fc-4918-bd38-98e5c85c9d93",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "woudsonpassos@gmail.com",
        "subject": "Server Status",
        "emailType": "text",
        "message": "=Your web server is up and running.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1456,
        -480
      ],
      "id": "2a84f194-6233-41b4-9bb8-79658c5ee4e0",
      "name": "Message Server Online",
      "webhookId": "9ca388df-a1be-42d2-b0f1-232f6602da5a",
      "credentials": {
        "gmailOAuth2": {
          "id": "nezm5hRstXAXRpuK",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13LaHzFs7N3Sxj50gqsNaSSsEVXul8QYFIcTJfmdvxXI",
          "mode": "list",
          "cachedResultName": "Monitor_Server",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13LaHzFs7N3Sxj50gqsNaSSsEVXul8QYFIcTJfmdvxXI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Monitoramento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13LaHzFs7N3Sxj50gqsNaSSsEVXul8QYFIcTJfmdvxXI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "data_hora",
              "displayName": "data_hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp_iso",
              "displayName": "timestamp_iso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado_anterior",
              "displayName": "estado_anterior",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado_atual",
              "displayName": "estado_atual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mudou_estado",
              "displayName": "mudou_estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        -480
      ],
      "id": "993f01b2-0e70-489c-b4c7-0c3dfe2b2343",
      "name": "Append a row in True",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oJ87ZqyEkvR2Zvft",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 1. Memória global\nconst staticData = $getWorkflowStaticData('global');\n\n// 2. Dados\nconst url = $json.url;\nconst estadoAtual = $json.estado_atual;\n\n// 3. Guardar estado por URL\nstaticData[url] = estadoAtual;\n\n// 4. Retornar\nreturn {\n  json: $json\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        -480
      ],
      "id": "ccc2768a-b985-4d53-84a3-0672a64c332c",
      "name": "Code to save staticData"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13LaHzFs7N3Sxj50gqsNaSSsEVXul8QYFIcTJfmdvxXI",
          "mode": "list",
          "cachedResultName": "Monitor_Server",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13LaHzFs7N3Sxj50gqsNaSSsEVXul8QYFIcTJfmdvxXI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Monitoramento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13LaHzFs7N3Sxj50gqsNaSSsEVXul8QYFIcTJfmdvxXI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "estado_anterior",
              "displayName": "estado_anterior",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado_atual",
              "displayName": "estado_atual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mudou_estado",
              "displayName": "mudou_estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        -176
      ],
      "id": "c3f4c968-0fc6-4e04-a99d-0bd566306138",
      "name": "Append row in False",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oJ87ZqyEkvR2Zvft",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "woudsonpassos@gmail.com",
        "subject": "Server Status",
        "emailType": "text",
        "message": "Server Offline, please verify your AWS Instance",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1456,
        -176
      ],
      "id": "275cf06e-0d33-4b1d-aebc-d5a11cdbd88c",
      "name": "Message Server Offline",
      "webhookId": "620e9825-6f63-4c5f-a14c-3730ef4a4e44",
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "nezm5hRstXAXRpuK",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code to save staticData",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in False",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Server Online": {
      "main": [
        []
      ]
    },
    "Append a row in True": {
      "main": [
        [
          {
            "node": "Message Server Online",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code to save staticData": {
      "main": [
        [
          {
            "node": "Append a row in True",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in False": {
      "main": [
        [
          {
            "node": "Message Server Offline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "40751312-acc6-4a38-b85a-af2e255afa86",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7b1ebdca0069f2e4f81f2142b5eb5b226dea6a268e9a5099de346a53d11d72fb"
  },
  "id": "WMkuPt4IUuyYt9ic",
  "tags": []
}