workflow.json
{
  "name": "WebServerMonitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        80,
        -464
      ],
      "id": "1c7b7cb6-a95e-47b6-8f76-6759d68fdde3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://15.229.63.74",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        -464
      ],
      "id": "b13a5a6f-f212-472a-bdab-f1a489fc99ae",
      "name": "HTTP Request",
      "executeOnce": false,
      "retryOnFail": false,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "notesInFlow": false,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1a679c9f-8988-458e-ac93-dafa41b4401c",
              "leftValue": "={{ $json.mudou_estado }}",
              "rightValue": "200",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "2e94e947-9967-4ccc-926f-1deb94073270",
              "leftValue": "={{ $json.estado_atual }}",
              "rightValue": "offline",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1104,
        -368
      ],
      "id": "8c1f4a9a-14ea-498b-ac36-19b5d0cfc468",
      "name": "If",
      "executeOnce": false,
      "retryOnFail": false,
      "maxTries": 2,
      "waitBetweenTries": 5
    },
    {
      "parameters": {
        "sendTo": "woudsonpassos@gmail.com",
        "subject": "Server Status",
        "emailType": "text",
        "message": "=Your web server is up and running.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1616,
        -96
      ],
      "id": "2a84f194-6233-41b4-9bb8-79658c5ee4e0",
      "name": "Send a message",
      "webhookId": "9ca388df-a1be-42d2-b0f1-232f6602da5a",
      "credentials": {
        "gmailOAuth2": {
          "id": "nezm5hRstXAXRpuK",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "woudsonpassos@gmail.com",
        "subject": "Server Status",
        "emailType": "text",
        "message": "Server Offline, please verify your AWS Instance",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1616,
        -560
      ],
      "id": "275cf06e-0d33-4b1d-aebc-d5a11cdbd88c",
      "name": "Send a message1",
      "webhookId": "620e9825-6f63-4c5f-a14c-3730ef4a4e44",
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "nezm5hRstXAXRpuK",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 1. Aceder à memória e dados atuais\nconst staticData = $getWorkflowStaticData('global');\nconst url = $json.url;\nconst agora = new Date();\n\n// 2. Formatar data e hora (sem segundos)\nconst dataHoraFormatada =\n  agora.toLocaleDateString('pt-PT') + ' ' +\n  agora.toLocaleTimeString('pt-PT', { hour: '2-digit', minute: '2-digit' });\n\n// 3. Definir estados\nconst estadoAtual = ($json.statusCode === 200) ? \"online\" : \"offline\";\n\n// 🔥 IMPORTANTE: agora por URL (não global)\nconst estadoAnterior = staticData[url] || \"unknown\";\n\n// 4. NÃO atualizar aqui (isso vem depois do IF)\n\n// 5. Retorno correto para n8n\nreturn {\n  url: url, // Garante que a variável 'url' foi definida acima\n  Data_Hora: dataHoraFormatada,\n  timestamp_iso: agora.toISOString(),\n  Estado_Anterior: estadoAnterior,\n  Estado_Atual: estadoAtual,\n  Mudou_Estado: estadoAnterior !== estadoAtual\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        -464
      ],
      "id": "d2cfd9d8-b1fc-4918-bd38-98e5c85c9d93",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13LaHzFs7N3Sxj50gqsNaSSsEVXul8QYFIcTJfmdvxXI",
          "mode": "list",
          "cachedResultName": "Monitor_Server",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13LaHzFs7N3Sxj50gqsNaSSsEVXul8QYFIcTJfmdvxXI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Monitoramento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13LaHzFs7N3Sxj50gqsNaSSsEVXul8QYFIcTJfmdvxXI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "estado_anterior",
              "displayName": "estado_anterior",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado_atual",
              "displayName": "estado_atual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mudou_estado",
              "displayName": "mudou_estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1344,
        -560
      ],
      "id": "c3f4c968-0fc6-4e04-a99d-0bd566306138",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oJ87ZqyEkvR2Zvft",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13LaHzFs7N3Sxj50gqsNaSSsEVXul8QYFIcTJfmdvxXI",
          "mode": "list",
          "cachedResultName": "Monitor_Server",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13LaHzFs7N3Sxj50gqsNaSSsEVXul8QYFIcTJfmdvxXI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Monitoramento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13LaHzFs7N3Sxj50gqsNaSSsEVXul8QYFIcTJfmdvxXI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1328,
        -96
      ],
      "id": "993f01b2-0e70-489c-b4c7-0c3dfe2b2343",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oJ87ZqyEkvR2Zvft",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"urls\": [\n    \"https://google.com\",\n    \"http://15.229.63.74\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        -464
      ],
      "id": "8e572b1b-e1e2-4b6a-9193-bb8b80eedb8e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const staticData = $getWorkflowStaticData('global');\n\nconst url = $json.url;\nconst estadoAtual = $json.Estado_Atual;\n\nstaticData[url] = estadoAtual;\n\nreturn {\n  json: $json\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        -368
      ],
      "id": "ccc2768a-b985-4d53-84a3-0672a64c332c",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "bc82366a-dfcb-4a89-b388-27859d449cfb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7b1ebdca0069f2e4f81f2142b5eb5b226dea6a268e9a5099de346a53d11d72fb"
  },
  "id": "WMkuPt4IUuyYt9ic",
  "tags": []
}